<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://callshandled.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>callshandled.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CallsHandled</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CallsHandled</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:yywy1u6qme.database.windows.net,1433;Initial Catalog=CallsHandled_db;User ID=sivins@yywy1u6qme;Password=D@xon0307" Name="Data Source=tcp:yywy1u6qme.database.windows.net,1433;Initial Catalog=CallsHandled_db;User Id=sivins@yywy1u6qme;Password=D@xon0307;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CallsHandled.Models.ApplicationDbContext, CallsHandled" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CallsHandled.Models.CallContext" Order="2" Enabled="True">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CallsHandled.Models.CallContext, CallsHandled" MigrationConfiguration="CallsHandled.Migrations.Configuration, CallsHandled" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CallsHandled.Models.CallContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:yywy1u6qme.database.windows.net,1433;Initial Catalog=CallsHandled_db;User Id=sivins@yywy1u6qme;Password=D@xon0307;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CallsHandled.Models.CallContext" />
  </ItemGroup>
</Project>